.form-width{width: 650px;}
.div-inline{display:inline-block;margin-top: 10px;}
.div-width{width: 315px;}
.div-left{float: left;margin-left: 10px;}
.div-right{float: right;text-align: right;}
.div-button{text-align: center;float: none;width: 650px;}