<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.craftsman.ssm.mapper.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.craftsman.ssm.entity.Picture" >
    <id column="pictureb_id" property="picturebId" jdbcType="INTEGER" />
    <result column="pictureb_path" property="picturebPath" jdbcType="VARCHAR" />
    <result column="pictureb_name" property="picturebName" jdbcType="VARCHAR" />
    <result column="pictureb_time" property="picturebTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.craftsman.ssm.entity.Picture" extends="BaseResultMap" >
    <result column="pictureb_img" property="picturebImg" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    pictureb_id, pictureb_path, pictureb_name, pictureb_time
  </sql>
  <sql id="Blob_Column_List" >
    pictureb_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from picturetb
    where pictureb_id = #{picturebId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from picturetb
    where pictureb_id = #{picturebId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.craftsman.ssm.entity.Picture" >
    insert into picturetb (pictureb_id, pictureb_path, pictureb_name, 
      pictureb_time, pictureb_img)
    values (#{picturebId,jdbcType=INTEGER}, #{picturebPath,jdbcType=VARCHAR}, #{picturebName,jdbcType=VARCHAR}, 
      #{picturebTime,jdbcType=TIMESTAMP}, #{picturebImg,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.craftsman.ssm.entity.Picture" >
    insert into picturetb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="picturebId != null" >
        pictureb_id,
      </if>
      <if test="picturebPath != null" >
        pictureb_path,
      </if>
      <if test="picturebName != null" >
        pictureb_name,
      </if>
      <if test="picturebTime != null" >
        pictureb_time,
      </if>
      <if test="picturebImg != null" >
        pictureb_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="picturebId != null" >
        #{picturebId,jdbcType=INTEGER},
      </if>
      <if test="picturebPath != null" >
        #{picturebPath,jdbcType=VARCHAR},
      </if>
      <if test="picturebName != null" >
        #{picturebName,jdbcType=VARCHAR},
      </if>
      <if test="picturebTime != null" >
        #{picturebTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picturebImg != null" >
        #{picturebImg,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.craftsman.ssm.entity.Picture" >
    update picturetb
    <set >
      <if test="picturebPath != null" >
        pictureb_path = #{picturebPath,jdbcType=VARCHAR},
      </if>
      <if test="picturebName != null" >
        pictureb_name = #{picturebName,jdbcType=VARCHAR},
      </if>
      <if test="picturebTime != null" >
        pictureb_time = #{picturebTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picturebImg != null" >
        pictureb_img = #{picturebImg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where pictureb_id = #{picturebId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.craftsman.ssm.entity.Picture" >
    update picturetb
    set pictureb_path = #{picturebPath,jdbcType=VARCHAR},
      pictureb_name = #{picturebName,jdbcType=VARCHAR},
      pictureb_time = #{picturebTime,jdbcType=TIMESTAMP},
      pictureb_img = #{picturebImg,jdbcType=LONGVARBINARY}
    where pictureb_id = #{picturebId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.craftsman.ssm.entity.Picture" >
    update picturetb
    set pictureb_path = #{picturebPath,jdbcType=VARCHAR},
      pictureb_name = #{picturebName,jdbcType=VARCHAR},
      pictureb_time = #{picturebTime,jdbcType=TIMESTAMP}
    where pictureb_id = #{picturebId,jdbcType=INTEGER}
  </update>
</mapper>