body{font-size:12px;}
.bodyDiv{width: 100%; height: 100%;position: relative; font-size:12px;}
.containerWidth{ width: 100% !important; }
.nav-ulli li{color: #02C300;}
.fixedtop-nav{background-color: #F8F8F8;}

/*这个是用户头像*/
#userimg_li{ display: none; }

.nav-bottom-height{margin-top: 40px;}
/*活动和个人中心页面距离顶部的距离*/
.nav-bottom-height2{margin-top: 50px;}
.nav-bottom-height3{margin-top: 33px;}
.logo-search{margin-right: 5%; margin-left: 5%;}
.logo-search form {padding-top: 12px;}
.logo-search form input{height:40px;border-Radius:0px;border:2px solid #FF6600;}
.logo-search form button{height:40px;border-Radius:0px !important;font-size:25px;
	color:#fff;margin-left: -5px;background-color: #FF6600; }
.logo-search form .btn-group > a.btn{font-size:20px;height:40px;border-Radius:0px !important;background-color: #FF6600;
	color:#fff;margin-right: -5px;
 }
.logo-search form select{height:33px;border-Radius:0px !important;font-size:16px;
	color:#FF6600;background-color: #FFF;margin-right: -7px;margin-top: 2px; }
.logo-search form label {color:#989898;}

.logo-search ul li{list-style: none;}

.service-promise{background-color: #F5F5F5;margin-top:20px;z-index: 1050; }

.footer-content-list{background-color:#47484C;margin-bottom: 20px; }
.footer-content-list ul,.footer-content-list ul li a{color: #fff;}

.footer-certificate{margin-bottom: 20px;}

/*客服*/
#scrollfind-return{position: fixed;z-index: 2000;bottom: 20px;right: 0px;list-style: none;}
#scrollfind-return li a{border-radius: 0;}



